@model IndexItemViewModel

@{
	ViewData["Title"] = "Index";
}

<main role="main">
	<h1>Items</h1>
	<h5>Page @Model.PageViewModel.PageNumber</h5>
	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row">
				@if (Model.Items.Count == 0)
				{
					<div class="row">
						<h2>
							<center>No items yet<center>
						</h2>
					</div>
				}
				else
				{

					foreach (var item in Model.Items)
					{
						<div class="col-md-4">
							<div class="card mb-4 box-shadow">
								@if (item.ImagePath != null)
								{
									<img class="card-img-top" src="@item.ImagePath" alt="Card image cap">
								}
								else
								{
									<img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
								}
								<div class="card-body">
									<p class="card-text">@item.Name</p>
									<div class="d-flex justify-content-between align-items-center">
										<div class="btn-group">
											<a type="button" class="btn btn-sm btn-outline-primary" asp-area="" asp-controller="Items" asp-action="Details" asp-route-Id="@item.Id">View</a>
											@if (Model.UserId == @item.AuthorId || User.IsInRole("admin")) 
											{
												<a type="button" class="btn btn-sm btn-outline-secondary" asp-area="" asp-controller="Items" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>
												<a type="button" class="btn btn-sm btn-outline-danger" asp-area="" asp-controller="Items" asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
											}
										</div>

									</div>
								</div>
							</div>
						</div>

					}
				}
			</div>


				@if (Model.PageViewModel.HasPreviousPage)
				{
					<a asp-action="Index"
				   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
				   class="btn btn-outline-dark">
						<i class="glyphicon glyphicon-chevron-left"></i>
						Previous
					</a>
				}
				@if (Model.PageViewModel.HasNextPage)
				{
					<a asp-action="Index"
				   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
				   class="btn btn-outline-dark">
						Next
						<i class="glyphicon glyphicon-chevron-right"></i>
					</a>
				}

</main>